<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ service_name }}
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    {% endblock %}
</head>
<body>
<div id="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="push"></div>

</div>
</body>
</html>
