<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ service_name }}
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
    {% endblock %}
</head>
<body>
<div class="content">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
