{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="jumbotron">
    <h1>{{ service_name }}</h1>
    <p>This ImageHub currently contains {{ documentCount }} IIIF manifests.</p>
</div>
{% endblock %}
