# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # Name of the application as shown on the homepage
    service_name: 'ImageHub'

    # Address of the application, necessary to generate manifest and canvas ID's
    service_url: 'https://imagehub.vlaamsekunstcollectie.be'

    # The default locale (language) of the application (available locales: en|nl)
    locale: nl

    # Email address where the admin of the application can be reached
    service_address: 'info@vlaamsekunstcollectie.be'

    # URL of the OAI-PMH endpoint for metadata harvesting
    datahub_url: 'http://datahub.box.be/oai'
    datahub_language: 'nl'

    # MongoDB connection string & database
    mongodb_server: mongodb://127.0.0.1:27017/imagehub
    mongodb_database: imagehub
    mongodb_user: imagehubuser
    mongodb_password: imagehubpass

    # The location (can be either relative or absolute) where the high-resolutions images are located
    images_folder: '../images/'

    # The maximum size of the image in either direction
    scale_image_pixels: 1800

    # The URL of the Cantaloupe server that serves the images
    cantaloupe_url: 'http://imagehub.box/iiif/2/'

    # The ResourceSpace API configuration
    resourcespace_api_url: 'http://resourcespace.box/api'
    resourcespace_api_username: 'admin'
    resourcespace_api_key: '704e38da514213bbdc7ad4647cde37aac03821ff621bb077994fe86ac1875c60'

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

