
$font-family: "Gotham", Helvetica, Arial, sans-serif;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';
